@import 'reset.sass'
@import 'fonts.sass'



.main
    background: url(../src/img/main_bg.jpg) 0/cover no-repeat
    min-height: 800px

    .main__header
        p
            font-family: 'Roboto'



